@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Merriweather:wght@300;400;700&family=Roboto+Serif:wght@100;300;400;500&display=swap');

/* ------------- 1. Global styles ------------- */
* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

:root {
    --purple-gradient: linear-gradient(153deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 100%);
    --purple: #5722CD;
    --light-grey: #F3F6F9;
    --pink: #ED4385;
    --box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.42);
}

.site-inside-width{
    width: 80%;
    padding-top: 40px;
}

/* ------------- 2. Typography ------------- */
h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-weight: 400;
    font-size: 40px;
    color: white;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 32px;
}

h3 {
    font-weight: bold;
    font-size: 27px;
    color: var(--purple);
    padding-bottom: 30px;
    text-align: center;
}

h4 {
    font-size: 20px;
    color: var(--purple);
    text-align: start;
    padding-top: 10px;
    padding-bottom: 30px;
}

p, a, label {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: var(--purple);
}

label {
    font-weight: bold;
    font-size: 1em;
    color: white;
}

/* ------------- 3. Layout ------------- */

/* ------------- 3.1 Button ------------- */
.button {
    background-color: var(--pink);
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 300;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: var(--box-shadow);
}

/* ------------- 3.2 Slant ------------- */
.slant {
    position: relative;
    bottom: 0;
    border-right: 100vw solid transparent;
    border-bottom: 50px solid white;
}

.slant-inverted {
    position: relative;
    top: 50px;
    border-left: 100vw solid transparent;
    border-top: 50px solid white;
}

/* ------------- 3.3 Squiggle ------------- */
.squiggle {
    width: 60px;
}

/* ------------- 3.4 Hover line ------------- */
.grow-line {
    position: relative;
    display: inline-block;
}

.grow-line:after {
    content: "";
    height: 2px;
    width: 20px;
    background-color: var(--purple);
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
}

.grow-line:hover:after {
    width: 150px;
    left: 150px;
    transition: width .35s ease-out;
}

/* ------------- 4. Areas ------------- */

/* ------------- 4.1 Header ------------- */
header {
    background: var(--purple-gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

header > img {
    position: relative;
    top: 50px;
}
.header-textblock {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: end;
    column-gap: 30px;
    padding-right: 100px;
}

nav a {
    color: white;
}

.header-textblock p {
    font-weight: 300;
    font-size: 2em;
    color: white;
    padding: 30px;
}

/* ------------- 4.2 Intro section ------------- */

.intro-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 90px;
}

.intro-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-div p {
    font-size: 1.2em;
}

/* ------------- 4.3 Work section ------------- */

.work-section {
    background: var(--light-grey);
    padding-top: 100px;
}

.work-article, .work-article-inverted {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 400px;
    min-width: 80%;
    padding-bottom: 100px;
}

.work-article-inverted {
    flex-direction: row-reverse;
}

.work-div, .work-div-inverted {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 500px;
    padding: 80px 100px 80px 30px;
}

.work-div-inverted {
    padding: 80px 30px 80px 100px;
}

.work-div a, .work-div-inverted a {
    display:inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.work-article > img, .work-article-inverted > img {
    box-shadow: var(--box-shadow);
}

@media (max-width: 786px) {
    .work-div, .work-div-inverted {
        padding: 80px;
    }
    .work-article > img, .work-article-inverted > img {
        width: 90%;
    }
}

/* ------------- 4.4 Services section ------------- */
.services-section {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-basis: 330px;
    max-width: 1300px;
    gap: 32px;
    flex-wrap: wrap;
    padding: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.services-article {
    border: 1px var(--purple) solid;
    font-size: 0.9em;
    min-width: 330px;
    max-width: 350px;
    height: 330px;
    padding: 25px;
    box-shadow: var(--box-shadow);
}

.services-article img {
    width: 80px;
}

/* ------------- 4.5 Contact section ------------- */
.contact-section {
    background: var(--purple-gradient);
    padding-top: 100px;

}

.contact-div p{
    color: white;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 30px;
}

.contact-div form {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

input, textarea {
    font-family: Roboto, sans-serif;
    font-size: 1em;
    border-radius: 5px;
    border: 0;
    color: grey;
    padding: 10px;
    width: 400px;
}

input {
    height: 40px;
}

/* ------------- 4.6 Footer -------------*/
footer {
    background: black;
    font-size: 0.9em;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}
